html{
    font-size:62.5%;
    /* scroll-behavior: smooth; */
}

body{
    margin:0;
}

.container{
    width:90%;
    max-width: 1228px;
    margin:0 auto;
    overflow: hidden;
}

a{
    -webkit-tap-highlight-color: transparent;
}
/*---------------
    Typography
-----------------*/
h1,
h2,
h3{
    font-family: 'Zilla Slab', serif, Arial, Helvetica, sans-serif;
}

h1{
    font-size: 4rem;
}

h2{
    font-size:2.6rem;
}

h3{
    font-size: 2.4rem;
}

p,
a{
    font-size:1.6rem;
}

.about-desc,
.mission-header-desc,
.mission-grid p,
.mission-grid h2,
.open-txt-content h1,
.open-txt-content p,
.newsletter-form-container h2,
.newsletter-form-container > p{
    line-height: 24px;
    width:75.4%;
}

@import url('https://rsms.me/inter/inter.css');
    p{ 
        font-family: 'Inter', sans-serif; 
    }
@supports (font-variation-settings: normal) {
    p{ 
        font-family: 'Inter var', sans-serif; 
    }
}

header li a{
    text-decoration: none;
    font-family: 'Zilla Slab', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #000;
    font-size:1.8rem;
}

.showcase-logo-subtext{
    font-family: 'Zilla Slab', Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    color:white;
    width: 85%;
    max-width:13.75em;
}

.showcase-logo-subtext span{
    background-color: #137D31;
    line-height: 1.9;
    padding:0.1em 0 0.3em 0;
}

.about-link{
    font-size: 1.6em;
    font-family: 'Inter var', sans-serif;
    color: #BC58CC;
    font-weight: 700;
    text-underline-position: under;
}

.mission-header-logo-container h1{
    color:white;
}

.mission-header-desc-container p{
    color:white;
}


.mission-header-logo-container{
    text-align: center;
}

.mission-grid p{
    color: #838383;
}

.news h3 a{
    font-size:2.4rem;
    text-decoration: none;
    color:black;
}

.open-txt-content h1{
    line-height: 1.1;
}

.open-source-link{
    font-family: 'Inter var', sans-serif;
    font-size:1.6rem;
    font-weight: 700;
    color:#0e427e;
    text-underline-position: under;
}

.newsletter-form-container p{
    font-family: 'Zilla Slab', Arial, Helvetica, sans-serif;
    font-weight:400;
    font-size: 1.8rem;
}

.newsletter-form p{
    font-size: 2.2rem;
}

.newsletter-form input{
    font-family: 'Inter var', sans-serif;
}

.newsletter-form input[type=text]{
    font-size: 1.8rem;
}

.newsletter-form input[type=submit]{
    font-size: 2.4rem;
}

.footer-links a{
    text-decoration: none;
    color:#000;
    font-family: 'Inter var', sans-serif; 
}

.footer-contact-details a{
    font-size: 1.6rem;
    font-family: 'Inter var', sans-serif; 
    font-style:normal;
    color:#000;
    text-decoration:none;
} 

footer{
    background-color: black;
    color:white;
}

.footer-contact-details a{
    color:white;
}

.footer-links a{
    color:white;
}

.footer-contact-details a{
    font-family: 'Zilla Slab', Arial, Helvetica, sans-serif;
}

.footer-contact-social-media a{
    text-decoration: none;
}

.copyright p{
    font-family: 'Zilla Slab', Arial, Helvetica, sans-serif;
}

/* -----------
    Layout
----------- */

/* .container{
    border:1px solid saddlebrown;
} */

.flex{
    display:flex;
    flex-direction:column;
}

/*header*/

header{
    height: 8.2em;
    position: fixed;
    top:0;
    width:100%;
    background-color:#ffffff;
    z-index: 10;
}

header .container{
    height:8.2em;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

header nav{
    display:none;
}

header .moz-logo{
    z-index:4;
    position: relative;
}

header .nav-add-class{
    display:block;
    width:100vw;
    height:50vh;
    position: fixed;
    right:0;
    top:0;
    background-color: #FFFFFF;
    z-index: 2;
    padding-top:10vh;
    box-sizing: border-box;

}

header nav .flex{       /*.flex used due to low specificity for ul*/
    margin:0;
    padding:0;
    list-style-type: none;
    flex-direction: row;
}

header .nav-add-class ul{
    flex-direction: column;
    align-items: center;
}

header .nav-add-class li{
    margin-bottom:4em;
}

header .nav-add-class a{
    columns: #000000;
}

header li{
    margin-left:3em;
}

header .menu-icon{
    margin-right:0.75em;
    position:relative;
    z-index: 3;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.contribute{
    display: none;
}

@media screen and (min-width:768px){

    header nav{
        display:block;
    }

    header .menu-icon{
        display:none;
    }

    header .container{
        justify-content: flex-start;
    }

    .contribute{
        display: inline-block;
        text-decoration:none;
        font-size:1.5rem;
        font-family: 'Inter var', sans-serif; 
        font-weight: 500;
        color:#FF4F5E;
        background: #FFFFFF;
        border: 2px solid #FF4F5E;
        border-radius: 0.2em;
        padding:0.3em;
        margin-right:1em;
    }
    
    .contribute:hover{
        color:white;
        background: #FF4F5E;
    }

    .nav-flex-container{
        flex-direction: row;
        width:100%;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width:1055px){

    .contribute{
        font-size:2rem;
        border: 3px solid #FF4F5E;
    }

    .nav-flex-container{
        height:8.2rem;
    }

    .nav-flex-container nav li{
        height:7.8rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-bottom: 5px solid transparent;
    }
    .nav-flex-container nav li:visited{
        border-bottom: 5px solid transparent;
    }

    .nav-flex-container nav li:active{
        border-bottom: 5px solid transparent;
    }

    .nav-flex-container nav li:hover{
        border-bottom: 5px solid #FF4F5E;
        transition-duration: 100ms;
        transition-timing-function: cubic-bezier(1,-0.1,0,1.16);
        -webkit-tap-highlight-color: transparent;
    }

}

/*showcase*/

.showcase{
    margin-top: 8.2em;
    margin-bottom: 2em;
}

.showcase-logo{
    width:90%;
    max-width:25em;
    margin: 7.2em 0 0 2.2em; 
}

.showcase, 
.showcase .container{
    height:32.1em;
}

.showcase-image{
    display:none;
}

.showcase .container{
    background-image: url(../img/table.jpg);
    background-size: cover;
}

.showcase-logo-subtext{
    margin: 1.875em 0 0 1.09em;
}

@media screen and (min-width:1055px){

    .showcase{
        background:#ffea7f;
    }

    .showcase .container{
        background: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .showcase, 
    .showcase .container{
        height:100vh;
    }

    .showcase-image{
        display:block;
        width:50em;
    }

    .showcase-logo{
        margin: 0 0 2em 0;
        width:100%;
        max-width:28em;
    }

    .showcase-logo-subtext{
        margin: 0;
    }

    .showcase-logo-subtext{
        font-family: 'Zilla Slab', Arial, Helvetica, sans-serif;
        font-size: 3rem;
        font-style: italic;
        font-weight: 400;
        color:black;
        width: 100%;
        max-width:20em;
    }
    
    .showcase-logo-subtext span{
        background-color: transparent;
        line-height: 1.4;
        padding:0.1em 0 0.3em 0;
    }

    .showcase-logo-container,
    .showcase-img-container{
        position: relative;
        bottom:3em;
    }

    .showcase-img-container{
        margin-right:-2em;
    }

}

@media screen and (min-width:1305px){

    .showcase-image{
        width:60em;
    }

    .showcase-logo{
        max-width:35em;
    }
    .showcase-logo-subtext{
        font-size: 3.6rem;
    }
}

/*about*/

.about{
    margin: 7em 0 7em 0;
}

.about-img{
    width: 27em;
    position: relative;
    top:4em;
    z-index: 1;
}

.about-img-container{
    align-items: center;
}

.about-txt-content{
    background-color: #EDEDF0;
    text-align:center;
    position: relative;
    bottom:4em;
}

.about-heading{
    display: inline-block;
    margin: 2.75em 0 0.5em 0;
}

.about-desc{
    margin:0.3125em auto;
}

.about-link{
    display: inline-block;
    margin:1.25em auto 3.75em;
}

@media screen and (min-width:768px){

    .about .container{
        flex-direction: row;
        background-color: #EDEDF0;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding:2em 0 2em 0;
    }

    .about-img{
        position: relative;
        top:0em;
    }

    .about-txt-content{
        width:50%;
        position: relative;
        bottom:0em;
    }

    .about-heading{
        margin:0.1em;
    }
    
    .about-desc{
        margin:1em auto;
    }
    
    .about-link{
        margin:1em;
    }

}

@media screen and (min-width:1055px){

    .about-img{
        width:33em;
    }

}

/* mission */

.mission-header{
    background-image: url(../img/meeting.jpg);
    background-size: cover;
    padding:0;
    margin-bottom: 7em;
}

.overlay-container{
    background-color: rgba(0, 0, 0, 0.4);
    border:1px solid transparent;
}

.mission-header-desc-container h3{
    display:none;
}

.mission-header-desc-container{
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 4em;
    text-align: center;
}

.mission-header-logo-container h1{
    margin: 1em 0 0.125em 0;
}

.mission-header-logo{
    width: 14em;
    margin-bottom: 4em;
}

.mission-header-desc{
    margin: 0 auto;
    padding: 0.625em 0;
}

@media screen and (min-width:1055px){

    .mission-header{
        background-image: url(../img/art-meet.jpg);
        background-size: cover;
        background-position: center;
    }

    .mission-header-desc-container h3{
        display:inline-block;
        color:white;
    }

    .mission-header .flex{
        flex-direction: row;
        justify-content: space-around;
    }

    .mission-header-desc-container{
        margin-bottom:0;
        width:25%;
        text-align: left;
        position: relative;
        bottom: 1.5px;
    }

    .mission-header-desc{
        padding:0;
        text-align: left;
        width:100%;
    }

    .mission-header-desc-container h3{
        margin:0;
        margin-bottom: 1em;
        text-align: left;
    }

    .mission-header-logo-container{
        order:2;
        padding:3em 0 3em 0;
    }

    .mission-header-desc-container{
        order:1;
        padding:3em 2em 3em 2em;
        margin-left:-9em;
    }

}

/* mission grid */

.mission{
    margin-bottom: 2em;
}

.mission-grid article{
    background-color: #EDEDF0;
    margin:0 0 5em 0;
    align-items: center;
}

.mission-grid h2{
    margin-bottom: 0.769em;
    position: relative;
    bottom:0.769em;
}

.mission-grid p{
    position: relative;
    bottom:2em;
}

article .bookmark-icon{
    width:5.2em;
}

article .meetup-icon{
    width:7.5em;
}

.mission-icon{
    width:6.3em;
    position: relative;
    bottom:2.5em;
}

@media screen and (min-width: 480px){
    .mission-grid{
        display:grid;
        grid-template-columns: 47.5% 47.5%;
        justify-content: space-between;
    }
}

@media screen and (min-width:1055px){

    .mission-grid{
        display:grid;
        grid-template-columns: 31.6% 31.6% 31.6%;
    }

    .mission .container{
        overflow: visible;
    }

    .mission-grid article:hover{
        transition-duration: 100ms;
        /* color:white; */
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), 
                0 2px 4px rgba(0,0,0,0.05), 
                0 4px 8px rgba(0,0,0,0.05), 
                0 8px 16px rgba(0,0,0,0.05),
                0 16px 32px rgba(0,0,0,0.05), 
                0 32px 64px rgba(0,0,0,0.05);

    }

}

/* news */

.news{
    margin-bottom: 1.5em;
}

.news article{
    margin-bottom: 5em;
}

.news h3{
    margin:0.203em;
}

.news p{
    margin:0.625em 0.3125em 0.625em 0.3125em;
}

.news-article-img{
    width: 100%;
}

@media screen and (min-width:768px ){
    .news .container{
        display: grid;
        grid-template-columns: 43.5% 51.5%;
        grid-template-rows: auto auto;
        justify-content: space-between;
    }
    
    .news article:first-child{
        grid-column: 1/3;
    }
}

@media screen and (min-width:1055px){

    .news .container{
        display: grid;
        grid-template-columns: 31.6% 31.6% 31.6%;
        justify-content: space-between;
    }

    .news article:first-child{
        grid-column: 1/2;
    }

    .news-article-img{
        height:200px;
        object-fit: cover;
    }

    .news article{
        border: 4px solid transparent;
        border-radius: 1px;
    }

    .news article:hover{
        border: 4px solid rgba(210, 201, 201, 0.5);
        border-radius: 1px;
        cursor: pointer;
    }

    .news article:hover h3 a{ 
        text-decoration: underline;
        text-underline-position: under;
    }

}

/* open source */

.open-source{
    margin-bottom: 3em;
}

.open-source-img{
    width: 30em;
    position: relative;
    top:4.5em;
    z-index: 1;
}

.open-img-container{
    align-items: center;
}

.open-txt-content{
    background-color: #EDEDF0;
    text-align:center;
    position: relative;
    bottom:4em;
}

.open-txt-content h1{
    display: inline-block;
    margin: 1.75em 0 1em 0;
}

.open-txt-content p{
    margin:0.3125em auto;
}

.open-source-link{
    display: inline-block;
    margin:2em auto 3.75em;
}

@media screen and (min-width:768px){
    .open-source .container{
        flex-direction: row;
        background-color: #EDEDF0;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding:2em 0 2em 0;
    }

    .open-source-img{
        position: relative;
        top:0em;
    }

    .open-txt-content{
        /* width:50%; */
        position: relative;
        bottom:0em;
    }

    .open-txt-content h1{
        margin:0.1em;
    }
    
    .open-txt-content p{
        margin:1em auto;
    }
    
    .open-source-link{
        margin:1em;
    }
    
    .open-source{
        margin-bottom: 7em;
    }
}

@media screen and (min-width:1055px){
    .open-source-img{
        width:35em;
    }

    .open-source{order: 1;}

    .news{order: 2;}
}

/* newsletter */

.newsletter{
    flex-direction: column;
    align-items:center;
    background-color: #4EB5E6;
    padding: 2em 0 3em 0;
}

.newsletter-form-container h2,
.newsletter-form-container > p{
    margin:0.8em auto;
    text-align: center;
}

.newsletter-form{
    width: 90%;
    margin:0 auto;
}

.newsletter-form p{
    margin-bottom:0.5em;
}


.newsletter-form-container input[type=text]{
    width:100%;
    padding:0.833em;
    box-sizing: border-box;
    margin-bottom:0.556em;
}

.newsletter-form-container input[type=submit]{
    width:100%;
    padding:0.625em;
    color: #0230A7;
    background-color:#4EB5E6;
    border: 2px solid #0230A7;
    cursor: pointer;
}

.newsletter img{
    width:18.6em;
}

@media screen and (min-width:768px){
    .newsletter{
        flex-direction: row;
        justify-content: center;
    }

    .newsletter-img-container{
        margin-right:8em;
    }

    .newsletter-form-container input[type=submit]:hover{
        color:#FFFFFF;
        background-color: #0230A7;        
    }
}

/* footer */

.footer-links li{
    margin: 1.2em 0 1.2em 0;
}

.footer-contact-social-media img{
    width:1.5625em;
}

.footer-links ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

.footer-contact-details a{
    display:block;
    margin: 1.067em 0 1.067em 0;
}

.footer-contact-social-media{
    margin-top: 2em;
}

.footer-contact-social-media a{
    margin-right: 0.25em;
}

.copyright{
    border-top: 0.5px solid rgba(174, 174, 174, 0.4);
    padding: 1.5em 0 1.5em 0;
    text-align: center;
}

.footer-moz-img{
    margin: 2em 0 3em 0;
}

.footer-links{
    margin-bottom: 3em;
}

.footer-contact{
    margin-bottom:3em;
}

@media screen and (min-width:768px){

    footer .container{
        display:grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows:30em auto;
    }

    .copyright{
        grid-column: 1/4;
    }

    .footer-moz-img{
        margin: 0 0 3em 0;
    }

    .footer-links li{
        margin: 0 0 1.2em 0;
    }

    .footer-contact-details a{
        display:block;
        margin: 0 0 1.067em 0;
    }

    footer{
        padding:5em 0 0 0;
    }

}